<div class="dashboard-heading">
    <div class="container">
        <!-- <div id="clockContainer">
            <div id="hour"> </div>
            <div id="minute"></div>
            <div id="second"></div>
        </div> -->

        <!-- <div class="mt-3">
            <h1 class="text-center">
                <b>{{this.getHours}}:{{this.getMins}}</b>
                <h6><b>{{this.getTime == "AM"? "GOOD MORNING": "GOOD EVENING"}}!!</b></h6>

            </h1>
        </div> -->
        <h1 class="text-center">
            Welcome To HomeEase
        </h1>
    </div>
</div>