.sidebar-wrapper .sidebar-header img {
    height: 2.2rem !important;
    margin-bottom: 10px;
    background: white;
    padding: 2px;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-toggler.x {
    right: 0.5rem !important;
    top: 0.5rem !important;
}