.card {
    margin-bottom: 1.2rem !important
}

.search-field {
    margin-left: auto;
    margin-right: 5px;
}

#search-field-id {
    background-color: #ebf2fc;
    margin-top: -3px;
}

#search-field-input {
    margin-bottom: 0px !important;
}

i.bi.bi-search {
    font-size: 17px;
}