<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-light"> <i class="bi bi-cash-stack"></i>
                <span>
                    Add Transaction
                </span>

            </h4>
            <button type="button" class="close text-light" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeModal()">
                <i class="bi bi-x"></i>
            </button>
        </div>
        <form [formGroup]="addCustomerTransaction" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-6" *ngIf="this.customerTransactionId === null">
                        <label class="form-label" i18n="@@selectCustomer">Customer <span
                                class="text-danger">*</span></label>
                        <div class="position-relative">
                            <select class="choices form-select" i18n-placeholder="@@selectCustomer" name="customerId"
                                formControlName="customerId">
                                <option value="" disabled="true">Select Customer</option>
                                <option *ngFor="let customerDataList of customerData" [value]="customerDataList.id">
                                    {{ customerDataList.customerName }}
                                </option>
                            </select>
                            <small class="form-text text-danger"
                                *ngIf="addCustomerTransaction.controls.customerId.hasError('required') && addCustomerTransaction.controls.customerId.touched"
                                style="margin-top: -1rem;">
                                Customer name is required
                            </small>
                        </div>
                    </div>
                    <br>


                    <div class="form-group has-icon-left col-6">
                        <label class="form-label" i18n="@@paidAmount">Paid Amount <span
                                class="text-danger">*</span></label>
                        <div class="position-relative">
                            <input type="text" class="form-control" formControlName="paidAmount" id="paidAmount"
                                i18n-placeholder placeholder="Enter transaction paid amount">
                            <div class="form-control-icon">
                                <i class="bi bi-cash-stack"></i>
                            </div>

                            <small class="form-text text-danger"
                                *ngIf="addCustomerTransaction.controls.paidAmount.hasError('required') && addCustomerTransaction.controls.paidAmount.touched"
                                style="margin-top: -0.5rem;">
                                Paid amount is required
                            </small>

                            <small class="form-text text-danger"
                                *ngIf="addCustomerTransaction.controls.paidAmount.hasError('min') && addCustomerTransaction.controls.paidAmount.touched"
                                style="margin-top: -0.5rem;">
                                Paid amount should be at least 10!
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <label class="form-label" i18n="@@selectPaymentMethod">Payment Method <span
                                class="text-danger">*</span></label>
                        <div class="position-relative">
                            <select class="choices form-select" i18n-placeholder="@@paymentMethod" name="paymentMethod"
                                formControlName="paymentMethod">
                                <option value="cash">Cash</option>
                                <option value="cheque">Cheque</option>
                                <option value="e-sewa">E-Sewa</option>
                                <option value="mobile-banking">Mobile Banking</option>
                                <option value="others">Others</option>
                            </select>
                            <small class="form-text text-danger"
                                *ngIf="addCustomerTransaction.controls.paymentMethod.hasError('required') && addCustomerTransaction.controls.paymentMethod.touched"
                                style="margin-top: -1rem;">
                                Payment method is required
                            </small>
                        </div>
                    </div>
                    <br>

                    <div class="form-group has-icon-left col-6">
                        <label class="form-label" i18n="@@transactionDate">Transaction Date <span
                                class="text-danger">*</span></label>
                        <div class="position-relative">
                            <input type="date" class="form-control" formControlName="transactionDate"
                                id="transactionDate" i18n-placeholder placeholder="Enter transaction invoice number">
                            <div class="form-control-icon">
                                <i class="bi bi-calendar-check-fill"></i>
                            </div>
                            <small class="form-text text-danger"
                                *ngIf="addCustomerTransaction.controls.transactionDate.hasError('required') && addCustomerTransaction.controls.transactionDate.touched"
                                style="margin-top: -1rem;">
                                Transaction date is required
                            </small>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="form-group with-title">
                    <label class="form-label" i18n="@@transactionRemarks">Remarks </label>
                    <textarea type="text" class="form-control" rows="4" name="transactionRemarks"
                        formControlName="transactionRemarks" i18n-placeholder placeholder="Enter remarks"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row w-100">
                    <div class="col-6">
                        <button type="submit" class="btn w-100 btn-primary" i18n="@@submit"
                            [disabled]="submitted || !addCustomerTransaction.valid">
                            <span class="d-none d-sm-block"> <span class="spinner-border spinner-border-sm"
                                    role="status" aria-hidden="true" *ngIf="this.loading"></span> Submit</span>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="reset" class="btn w-100 btn-danger ml-1" (click)="closeModal()">
                            <span class="d-none d-sm-block"> Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>