.footer {
    background-color: #c4c5ce;
    padding-top: 10px;
    padding-bottom: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.copy-right-text {
    width: 85%;
    text-align: center;
}