<div class="modal-header bg-custom">
  <h4 class="modal-title text-light"> <i class="bi bi-list"></i>
    View Categoy
  </h4> <button type="button" class="close text-light" data-bs-dismiss="modal" aria-label="Close"
    (click)="currentModal.dismiss('Cross click')">
    <i class="bi bi-x"></i>
  </button>
</div>

<div class="modal-body row">
  <div class="row m-0 mb-3"><span class="title col-md-3"> Category Name:</span> <span class="col data">{{name ? name :
      '- - - -'}}</span>
  </div>
  <div class="row m-0 mb-3"><span class="title col-md-3"> Description:</span> <span class="col data">{{description ?
      description : ' - - - -'}}</span></div>

</div>

<div class="modal-footer">
  <div class="row w-100">
    <div class="col-12">
      <button type="reset" class="btn w-100 btn-danger ml-1" (click)="currentModal.close('Close click')">
        <span class="d-none d-sm-block"> Close</span>
      </button>
    </div>
  </div>
</div>